@import url('https://fonts.googleapis.com/css?family=Mulish');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}

.container {
    position: relative;
    background-color: #F8FAFC;
    width: 100vw;
    height: 100vh;
}

.image-section {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
}

.image-section>svg {
    width: 100%;
    height: 100%;
}

.main-section {

    top: 10vh;
    left: 33vw;

    width: 35vw;
    height: 80vh;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
    z-index: 2;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-inline: auto;

    padding: 40px 60px 0px 60px;

}

.welcome {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sign-up {
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form {
    margin: 15px 0px;
}

.input-header {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input {
    border: none;
    outline: none;
}

.input-body>div {
    margin: 8px 0px;
    display: flex;
    width: 25.7vw;
    height: 38px;
    padding: 0px 10px;

    border-radius: 6px;
    border: 1px solid #DEDEDE;
}

.input-body>div:focus-within {
    border: 1px solid #625BF7;
}

.input-body>div>input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: transparent;
}

button {
    border: none;
    outline: none;
    cursor: pointer;

    display: flex;
    width: 25.7vw;
    height: 8vh;
    padding: 20px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px;
    text-transform: uppercase;
    transition: all 0.1s ease-in;
}

button:active {
    scale: 95%;
}

.message {
    display: flex;
    width: 25.7vw;
    height: 8vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #625BF7;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 93vh;
    left: 44vw;

    font-size: 12px;
    cursor: pointer;
}

.no-account {

    color: #333;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sign {
    color: #625BF7;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-main-section {

    top: 10vh;
    left: 33vw;

    width: 35vw;
    height: 80vh;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
    z-index: 2;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;

    padding: 40px 60px 40px 60px;

}

.head-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile-tag {
    display: flex;
    width: 340px;
    height: 37px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #333;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.form-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;

    color: #333;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    gap: 1rem;
}

.successful-message {
    position: absolute;
    z-index: 2;
    color: #625BF7;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    top: 2vh;
    left: 43vw;
}

@media screen and (min-width: 810px) and (max-width: 1075px) {

    .main-section {

        top: 10vh;
        left: 25vw;
    
        width: 50vw;
        height: 80vh;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
        z-index: 2;
    
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-inline: auto;
    
        padding: 30px 40px 0px 30px;
    }
    
    .welcome {
        color: #757575;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .sign-up {
        color: #333;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .form {
        margin: 15px 0px;
    }
    
    .input-header {
        color: #333;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    input {
        border: none;
        outline: none;
    }
    
    .input-body>div {
        margin: 8px 0px;
        display: flex;
        width: 43vw;
        height: 36px;
        padding: 0px 10px;
    
        border-radius: 6px;
        border: 1px solid #DEDEDE;
    }
    
    .input-body>div:focus-within {
        border: 1px solid #625BF7;
    }
    
    .input-body>div>input {
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
    
    button {
        border: none;
        outline: none;
        cursor: pointer;
    
        display: flex;
        width: 43vw;
        height: 8vh;
        padding: 20px 14px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
    
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 18px;
        text-transform: uppercase;
        transition: all 0.1s ease-in;
    }
    
    button:active {
        scale: 95%;
    }
    
    .message {
        display: flex;
        width: 50vw;
        height: 8vh;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    
        color: #625BF7;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .account {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        top: 93vh;
        left: 44vw;
    
        font-size: 12px;
        cursor: pointer;
    }

    .profile-main-section {

        top: 10vh;
        left: 25vw;
    
        width: 50vw;
        height: 80vh;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
        z-index: 2;
    
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
    
        padding: 30px 40px 30px 30px;
    
    }
}

@media screen and (min-width: 0px) and (max-width: 810px) {

    .main-section {

        top: 10vh;
        left: 25vw;
    
        width: 50vw;
        height: 80vh;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
        z-index: 2;
    
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-inline: auto;

        padding: 20px 40px 20px 25px;
    }
    
    .welcome {
        color: #757575;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .sign-up {
        color: #333;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .form {
        margin: 15px 0px;
    }
    
    .input-header {
        color: #333;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    input {
        border: none;
        outline: none;
    }
    
    .input-body>div {
        margin: 8px 0px;
        display: flex;
        width: 43vw;
        height: 36px;
        padding: 0px 10px;
    
        border-radius: 6px;
        border: 1px solid #DEDEDE;
    }
    
    .input-body>div:focus-within {
        border: 1px solid #625BF7;
    }
    
    .input-body>div>input {
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
    
    button {
        border: none;
        outline: none;
        cursor: pointer;
    
        display: flex;
        width: 43vw;
        height: 8vh;
        padding: 20px 14px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
    
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 18px;
        text-transform: uppercase;
        transition: all 0.1s ease-in;
    }
    
    button:active {
        scale: 95%;
    }
    
    .message {
        display: flex;
        width: 50vw;
        height: 8vh;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    
        color: #625BF7;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .account {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        top: 93vh;
        left: 35vw;
    
        font-size: 12px;
        cursor: pointer;
    }

    .profile-main-section {

        top: 10vh;
        left: 25vw;
    
        width: 50vw;
        height: 80vh;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
        z-index: 2;
    
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
    
        padding: 20px 40px 20px 25px;
    
    }

    .head-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .profile-tag {
        display: flex;
        width: 340px;
        height: 37px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    
        color: #333;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .profile-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
    }
    
    .form-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-inline: auto;
    
        color: #333;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
        gap: 1rem;
    }
    
    .successful-message {
        position: absolute;
        z-index: 2;
        color: #625BF7;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    
        top: 2vh;
        left: 35vw;
    }
}